<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CodePen - Vue.js-動態屬性&amp;視覺樣式-實作 cofee editor</title>
  <link rel="stylesheet" href="./style.css">

</head>
<body>
<!-- partial:index.partial.html -->
<div id="app">
  <label class="hiddenControl">Editing:
    <input type="checkbox" v-model="editing"/>
    <select v-model="favoriteType">
      <option v-for="coffee in coffees" :value="coffee.name">{{coffee.name}}</option>
    </select>
  </label>
  <h3>Vue.js coffee  Editor
    <div class="cofeeType" v-for="(coffee,cid) in coffees" :class="{favorite:favoriteType==coffee.name,showMode:!editing}">
      <div class="num">0{{cid}}</div>
      <div class="cupContainer">
        <div class="cup" :class="[coffee.type]">
          <div class="ingradients">
            <div class="coffee" :style="{height: coffee.coffee +'%'}"></div>
            <div class="milk" :style="{height: coffee.milk +'%'}"></div>
            <div class="water" :style="{height: coffee.water +'%'}"></div>
            <div class="bubble" :style="{height: coffee.bubble +'%'}">     </div>
          </div>
        </div>
      </div>
      <div class="control">
        <h2>{{ coffee.name}}</h2>
        <select v-model="coffee.type">
          <option v-for="cupType in cupTypes" :value="cupType">{{cupType}}</option>
        </select>
        <div v-for="type in ['coffee','bubble','water','milk']">
          <label>{{type}}</label>
          <input type="range" v-model="coffee[type]" min="0" max="100"/>
        </div>
      </div>
    </div>
  </h3>
</div>
<!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.min.js'></script><script  src="./script.js"></script>

</body>
</html>
